
var subStr = function(val){
  if(val.length>6)
    return val.substring(0,6)+".."
  return val
}

var subTags = function(tagList){
  var returnTags = []
  var  len = Math.min(4,tagList.length)
  for(var i=0;i<len;++i){
    returnTags.push(tagList[i])
  }
  return returnTags 
}

module.exports = {
  subStr: subStr,
  subTags: subTags
}